<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043161304726-o2k3i82ah4h88fgbrelicdosu52slr4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043161304726-o2k3i82ah4h88fgbrelicdosu52slr4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCcBL-1pawCj5NgilC3gEurFp0lWsziGJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1043161304726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.microlearning</string>
	<key>PROJECT_ID</key>
	<string>microlearning-11737</string>
	<key>STORAGE_BUCKET</key>
	<string>microlearning-11737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043161304726:ios:3c949fc7d05dd623cd7cb7</string>
	<key>DATABASE_URL</key>
	<string>https://microlearning-11737.firebaseio.com</string>
</dict>
</plist>